<!DOCTYPE html>
<html>
    <head>
        <title>Routing to Hospital</title>
        <!-- SCRIPTS -->
        <meta name="viewport" charset="UTF-8" content="initial-scale=1.0, width=device-width" />
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
    </head>
       <body>
        <div id="mapContainer" style="width: 95vw; height: 80vh; display: block; margin: 0 auto; border: solid 2px black; margin-top: 10px;" > </div>
        <div id="panel" style="width: 30vw; background: rgb(218, 21, 47); color: white; margin-top: 20px;display: block; margin: 0 auto;"></div>
    </body>
    <script>
        var platform = new H.service.Platform({
            apikey: "JS_API_KEY"   
        });

        const lng = {{lng}};
	    const lat = {{lat}};

        // Obtain the default map types from the platform object:
        var defaultLayers = platform.createDefaultLayers();

        // Your current position
        var myPosition = {lat: lat, lng: lng};

        // Instantiate (and display) a map object:
        var map = new H.Map(
            document.getElementById('mapContainer'),
            defaultLayers.vector.normal.map,
            {
                zoom: 11,
                center: myPosition
            });

        var ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');

        var mapEvents = new H.mapevents.MapEvents(map);
        var behavior = new H.mapevents.Behavior(mapEvents);

        // Get an instance of the routing service for using the routing API
        var router = platform.getRoutingService();

        // Get an instance of the geocoding and search service:
        var service = platform.getSearchService();

        // create an icon for the marker. Choose any image you want. I created mine using draw.io 
        var homeIcon = new H.map.Icon('/static/home.png'); 
            
        // Create a marker using the previously instantiated icon:
        var posMarker = new H.map.Marker(myPosition,{icon:homeIcon});
                
        // Add the marker to the map 
        map.addObject(posMarker);

let param = {
    at : myPosition.lat+','+myPosition.lng,
    q: "hospital",
    limit:10
}; 
service.browse(param,displayHospitals,alert);

function displayHospitals(response){
var hospitalIcon = new H.map.Icon('/static//hospital.png');

// A group that can hold map objects:
var restGroup = new H.map.Group();

for(let i = 0; i<response.items.length; i++){
    let restPosition = response.items[i].position; 
    let data = response.items[i].title;
    let restMarker = new H.map.Marker(restPosition,{icon: hospitalIcon} );

    // Add the marker to the group (which causes it to be displayed on the map)
    restGroup.addObject(restMarker);
    }

    console.log(response);

// Add the group to the map object
map.addObject(restGroup);

let hospitalPosition = response.items[4].position;
showRoute(hospitalPosition);
}

function showRoute(restPos){
//console.log(restPos);

// Create the parameters for the routing request:
let routingParameters = {
    // The routing mode:
    mode: 'fastest;car;traffic:enabled',
    // The start point of the route:
    waypoint0: myPosition.lat+','+myPosition.lng,
    // The end point of the route:
    waypoint1: restPos.lat+','+restPos.lng ,
    // To retrieve the shape of the route we choose the route
    // representation mode 'display'
    representation: 'display',
    routeattributes : 'summary,shape',
    language: "en-US"
};

router.calculateRoute(routingParameters, onResult,
    function(error) {
        alert(error.message);
});    
}

// Define a callback function to process the routing response:
var onResult = function(result) {
    var route,
        routeShape,
        startPoint,
        endPoint,
        linestring;
    if(result.response.route) {
        // Pick the first route from the response:
        let route = result.response.route[0];
        //console.log(route);
        // Pick the route's shape:
        routeShape = route.shape;

        // Create a linestring to use as a point source for the route line
        linestring = new H.geo.LineString();

        // Push all the points in the shape into the linestring:
        routeShape.forEach(function(point) {
            var parts = point.split(',');
            linestring.pushLatLngAlt(parts[0], parts[1]);
        });

        // Create a polyline to display the route:
        var routeLine = new H.map.Polyline(linestring, {
            style: { strokeColor: 'RGB(116, 66, 200)', lineWidth: 7 }
        });
        // Add the route polyline and the two markers to the map:
        map.addObject(routeLine);

        let maneuver = route.leg[0].maneuver;
        let summary = route.summary;
        displayInstructions(maneuver,summary);
        
        // Set the map's viewport to make the whole route visible:
        map.getViewModel().setLookAtData({bounds: routeLine.getBoundingBox()});
    }
};

Number.prototype.toMMSS = function () {
            return  Math.floor(this / 60)  +' minutes '+ (this % 60)  + ' seconds.';
        }

function displayInstructions(maneuver,summary){
        var totalTravelTime = 0;
        for(let i=0; i< maneuver.length; i++){
            instructions = maneuver[i].instruction;
            // console.log(instructions)
            document.getElementById("panel").innerHTML+= ( i+1) + ') '+instructions +  `<br>`;
            }
            document.getElementById("panel").innerHTML+="Total distance : " + (summary.distance) + ' m' ;
            document.getElementById("panel").innerHTML+="Estimated time : " + summary.travelTime.toMMSS();
        }
    </script>
</html>